<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oasis.converter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnitConverter"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.oasis.converter.MainActivity"
            android:label="Converter App"
            android:exported="true"
            tools:ignore="MissingClass"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oasis.converter.LengthActivity"
            android:parentActivityName=".MainActivity"
            android:label="Length Conversion"
            android:exported="true"
            tools:ignore="MissingClass"/>
        <activity
            android:name="com.oasis.converter.WeightActivity"
            android:label="Weight Conversion"
            android:exported="true"
            tools:ignore="MissingClass"/>
        <activity
            android:name="com.oasis.converter.TempActivity"
            android:label="Temperature Conversion"
            android:exported="true"
            tools:ignore="MissingClass"/>
        <activity
            android:name="com.oasis.converter.DataActivity"
            android:label="Data Conversion"
            android:exported="true"
            tools:ignore="MissingClass"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity"/>
    </application>
</manifest>
